<a href="https://colab.research.google.com/github/nedokormysh/Stepik_data_analysis_R/blob/week_1_data_prep/Stepik_data_analysis_R_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1_5_5

Вновь вернемся к данным mtcars. Рассчитайте среднее значение времени разгона (qsec) для автомобилей, число цилиндров (cyl) у которых не равняется 3 и показатель количества миль на галлон топлива (mpg) больше 20.

Получившийся результат (среднее значение) сохраните в переменную result.

In [ ]:
mean(mtcars$qsec[mtcars$cyl != 3 & mtcars$mpg > 20])

[1] 18.81643

#1_5_7

При помощи функции aggregate рассчитайте стандартное отклонение переменной hp (лошадиные силы) и переменной disp (вместимости двигателя)  у машин с автоматической и ручной коробкой передач.

Полученные результаты (результаты выполнения функции aggregate) сохраните в переменную descriptions_stat.

In [ ]:
descriptions_stat <- aggregate(cbind(hp,disp) ~ am, mtcars, sd)
descriptions_stat

  am hp       disp
1 0  53.90820 110.17165
2 1  84.06232  87.20399

In [ ]:
descriptions_stat <- aggregate(cbind(hp,disp) ~ am, mtcars, sd)

In [ ]:
descriptions_stat <- aggregate(mtcars[,c(4,3)], by = list(mtcars$am), FUN = sd)
descriptions_stat

  Group.1 hp       disp
1 0       53.90820 110.17165
2 1       84.06232  87.20399

In [3]:
# indicate that you're running R code
# %%R

# Install if it's your first time to run
install.packages("psych")
# install.packages("data.table")

# Load
library(psych)
# library(data.table)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependency ‘mnormt’

In [ ]:
?describe

In [ ]:
describe()

# 1_5_11

Воспользуемся встроенными данными airquality. В новую переменную сохраните subset исходных данных, оставив наблюдения только для месяцев 7, 8 и 9.

При помощи функции aggregate рассчитайте количество непропущенных наблюдений по переменной Ozone в 7, 8 и 9 месяце. Для определения количества наблюдений используйте функцию length().

Результат выполнения функции aggregate сохраните в переменную result.

Подсказки:

1. Не забудьте сделать subset, чтобы отобрать наблюдения только по нужным месяцам, вам может пригодиться следующая конструкция:


> x <- 5
> x %in% c(3, 4, 5)
[1] TRUE

2. Для подсчета числа непропущенных наблюдений воспользуйтесь записью с помощью формулы, при которой пропущенные значения не учитываются:
aggregate(y ~ x + z , data, FUN)

In [ ]:
head(airquality)

  Ozone Solar.R Wind Temp Month Day
1 41    190      7.4 67   5     1
2 36    118      8.0 72   5     2
3 12    149     12.6 74   5     3
4 18    313     11.5 62   5     4
5 NA     NA     14.3 56   5     5
6 28     NA     14.9 66   5     6

In [ ]:
air <- airquality$Month %in% c(7, 8, 9) [1]
x

  [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [25] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [37] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [49] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
 [61] FALSE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [73]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE
 [85]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE FALSE
 [97] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[109] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[121] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[133] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[145] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE

In [ ]:
air <- subset(airquality, Month %in% c(7,8,9))
result <- aggregate(air$Ozone ~ Month, air, length)
result

  Month air$Ozone
1 7     26
2 8     26
3 9     29

In [2]:
?('%in%')

# 1_5_12

Примените функцию describeBy к количественным переменным данных airquality, группируя наблюдения по переменной Month.  Чему равен коэффициент асимметрии (skew) переменной Wind в восьмом месяце?

В графу с ответом требуется ввести только число. Десятичный разделитель - запятая: например 12,6

In [19]:
describeBy(x = airquality, group = airquality$Month == 8,
          # mat = T,
          digits = 1)

 Descriptive statistics by group
group: FALSE
        vars   n   mean    sd median trimmed    mad  min   max range  skew
Ozone      1  90  36.98 29.05   27.5   32.82  21.50  1.0 135.0   134  1.21
Solar.R    2 118 189.27 92.90  216.5  194.04 100.82  7.0 334.0   327 -0.43
Wind       3 122  10.25  3.55    9.7   10.15   3.41  1.7  20.7    19  0.37
Temp       4 122  76.34  9.48   77.0   76.64  10.38 56.0  93.0    37 -0.29
Month      5 122   6.74  1.48    6.5    6.67   1.48  5.0   9.0     4  0.44
Day        6 122  15.75  8.84   16.0   15.76  11.86  1.0  31.0    30  0.00
        kurtosis   se
Ozone       0.79 3.06
Solar.R    -1.03 8.55
Wind        0.01 0.32
Temp       -0.71 0.86
Month      -1.17 0.13
Day        -1.23 0.80
------------------------------------------------------------
group: TRUE
        vars  n   mean    sd median trimmed   mad  min   max range  skew
Ozone      1 26  59.96 39.68   52.0   56.86 40.77  9.0 168.0 159.0  0.79
Solar.R    2 28 171.86 76.83  197.5  175.83 67.46 24.0 273.0 249.0 -0.56
Wind       3 31   8.79  3.23    8.6    8.77  3.41  2.3  15.5  13.2  0.04
Temp       4 31  83.97  6.59   82.0   83.72  5.93 72.0  97.0  25.0  0.30
Month      5 31   8.00  0.00    8.0    8.00  0.00  8.0   8.0   0.0   NaN
Day        6 31  16.00  9.09   16.0   16.00 11.86  1.0  31.0  30.0  0.00
        kurtosis    se
Ozone       0.05  7.78
Solar.R    -1.17 14.52
Wind       -0.69  0.58
Temp       -0.97  1.18
Month        NaN  0.00
Day        -1.32  1.63

In [11]:
psych::skew(airquality$Wind[airquality$Month == 8])

[1] 0.03549581

In [14]:
describeBy(airquality$Wind, airquality$Month == 8)$'TRUE'$skew

[1] 0.03549581

In [15]:
describeBy(airquality$Wind, airquality$Month == 8)$'TRUE'['skew']

   skew
X1 0.03549581

In [20]:
describeBy(airquality$Wind, airquality$Month == 8)

 Descriptive statistics by group
group: FALSE
   vars   n  mean   sd median trimmed  mad min  max range skew kurtosis   se
X1    1 122 10.25 3.55    9.7   10.15 3.41 1.7 20.7    19 0.37     0.01 0.32
------------------------------------------------------------
group: TRUE
   vars  n mean   sd median trimmed  mad min  max range skew kurtosis   se
X1    1 31 8.79 3.23    8.6    8.77 3.41 2.3 15.5  13.2 0.04    -0.69 0.58

# 1_5_13

Обратимся к встроенным данным iris. Соотнесите значения стандартного отклонения переменных.

In [24]:
describeBy(iris)['sd']

Warning message in describeBy(iris):
“no grouping variable requested”

             sd
Sepal.Length 0.8280661
Sepal.Width  0.4358663
Petal.Length 1.7652982
Petal.Width  0.7622377
Species*     0.8192319

In [25]:
subset(describe(iris), select = sd)

             sd
Sepal.Length 0.8280661
Sepal.Width  0.4358663
Petal.Length 1.7652982
Petal.Width  0.7622377
Species*     0.8192319

In [26]:
SD(iris)

Warning message in var(x, na.rm = na.rm, use = "pair"):
“NAs introduced by coercion”

Sepal.Length  Sepal.Width Petal.Length  Petal.Width      Species
   0.8280661    0.4358663    1.7652982    0.7622377           NA

# 1_5_13

В данных iris расположите по убыванию значения медиан количественных переменных в группе virginica.

In [27]:
describe(iris)

             vars n   mean     sd        median trimmed  mad     min max range
Sepal.Length 1    150 5.843333 0.8280661 5.80   5.808333 1.03782 4.3 7.9 3.6
Sepal.Width  2    150 3.057333 0.4358663 3.00   3.043333 0.44478 2.0 4.4 2.4
Petal.Length 3    150 3.758000 1.7652982 4.35   3.760000 1.85325 1.0 6.9 5.9
Petal.Width  4    150 1.199333 0.7622377 1.30   1.184167 1.03782 0.1 2.5 2.4
Species*     5    150 2.000000 0.8192319 2.00   2.000000 1.48260 1.0 3.0 2.0
             skew       kurtosis   se
Sepal.Length  0.3086407 -0.6058125 0.06761132
Sepal.Width   0.3126147  0.1387047 0.03558833
Petal.Length -0.2694109 -1.4168574 0.14413600
Petal.Width  -0.1009166 -1.3581792 0.06223645
Species*      0.0000000 -1.5199333 0.06689001

In [28]:
describeBy(x = iris, group = iris$Species)

 Descriptive statistics by group
group: setosa
             vars  n mean   sd median trimmed  mad min max range skew kurtosis
Sepal.Length    1 50 5.01 0.35    5.0    5.00 0.30 4.3 5.8   1.5 0.11    -0.45
Sepal.Width     2 50 3.43 0.38    3.4    3.42 0.37 2.3 4.4   2.1 0.04     0.60
Petal.Length    3 50 1.46 0.17    1.5    1.46 0.15 1.0 1.9   0.9 0.10     0.65
Petal.Width     4 50 0.25 0.11    0.2    0.24 0.00 0.1 0.6   0.5 1.18     1.26
Species*        5 50 1.00 0.00    1.0    1.00 0.00 1.0 1.0   0.0  NaN      NaN
               se
Sepal.Length 0.05
Sepal.Width  0.05
Petal.Length 0.02
Petal.Width  0.01
Species*     0.00
------------------------------------------------------------
group: versicolor
             vars  n mean   sd median trimmed  mad min max range  skew kurtosis
Sepal.Length    1 50 5.94 0.52   5.90    5.94 0.52 4.9 7.0   2.1  0.10    -0.69
Sepal.Width     2 50 2.77 0.31   2.80    2.78 0.30 2.0 3.4   1.4 -0.34    -0.55
Petal.Length    3 50 4.26 0.47   4.35    4.29 0.52 3.0 5.1   2.1 -0.57    -0.19
Petal.Width     4 50 1.33 0.20   1.30    1.32 0.22 1.0 1.8   0.8 -0.03    -0.59
Species*        5 50 2.00 0.00   2.00    2.00 0.00 2.0 2.0   0.0   NaN      NaN
               se
Sepal.Length 0.07
Sepal.Width  0.04
Petal.Length 0.07
Petal.Width  0.03
Species*     0.00
------------------------------------------------------------
group: virginica
             vars  n mean   sd median trimmed  mad min max range  skew kurtosis
Sepal.Length    1 50 6.59 0.64   6.50    6.57 0.59 4.9 7.9   3.0  0.11    -0.20
Sepal.Width     2 50 2.97 0.32   3.00    2.96 0.30 2.2 3.8   1.6  0.34     0.38
Petal.Length    3 50 5.55 0.55   5.55    5.51 0.67 4.5 6.9   2.4  0.52    -0.37
Petal.Width     4 50 2.03 0.27   2.00    2.03 0.30 1.4 2.5   1.1 -0.12    -0.75
Species*        5 50 3.00 0.00   3.00    3.00 0.00 3.0 3.0   0.0   NaN      NaN
               se
Sepal.Length 0.09
Sepal.Width  0.05
Petal.Length 0.08
Petal.Width  0.04
Species*     0.00

In [34]:
a <- describeBy(x = iris, group = iris$Species,mat=T)
a

              item group1     vars n  mean  sd        median trimmed mad
Sepal.Length1 1    setosa     1    50 5.006 0.3524897 5.00   5.0025  0.29652
Sepal.Length2 2    versicolor 1    50 5.936 0.5161711 5.90   5.9375  0.51891
Sepal.Length3 3    virginica  1    50 6.588 0.6358796 6.50   6.5725  0.59304
Sepal.Width1  4    setosa     2    50 3.428 0.3790644 3.40   3.4150  0.37065
Sepal.Width2  5    versicolor 2    50 2.770 0.3137983 2.80   2.7800  0.29652
Sepal.Width3  6    virginica  2    50 2.974 0.3224966 3.00   2.9625  0.29652
Petal.Length1 7    setosa     3    50 1.462 0.1736640 1.50   1.4600  0.14826
Petal.Length2 8    versicolor 3    50 4.260 0.4699110 4.35   4.2925  0.51891
Petal.Length3 9    virginica  3    50 5.552 0.5518947 5.55   5.5100  0.66717
Petal.Width1  10   setosa     4    50 0.246 0.1053856 0.20   0.2375  0.00000
Petal.Width2  11   versicolor 4    50 1.326 0.1977527 1.30   1.3250  0.22239
Petal.Width3  12   virginica  4    50 2.026 0.2746501 2.00   2.0325  0.29652
Species*1     13   setosa     5    50 1.000 0.0000000 1.00   1.0000  0.00000
Species*2     14   versicolor 5    50 2.000 0.0000000 2.00   2.0000  0.00000
Species*3     15   virginica  5    50 3.000 0.0000000 3.00   3.0000  0.00000
              min max range skew        kurtosis   se
Sepal.Length1 4.3 5.8 1.5    0.11297784 -0.4508724 0.04984957
Sepal.Length2 4.9 7.0 2.1    0.09913926 -0.6939138 0.07299762
Sepal.Length3 4.9 7.9 3.0    0.11102862 -0.2032597 0.08992695
Sepal.Width1  2.3 4.4 2.1    0.03872946  0.5959507 0.05360780
Sepal.Width2  2.0 3.4 1.4   -0.34136443 -0.5493203 0.04437778
Sepal.Width3  2.2 3.8 1.6    0.34428489  0.3803832 0.04560791
Petal.Length1 1.0 1.9 0.9    0.10009538  0.6539303 0.02455980
Petal.Length2 3.0 5.1 2.1   -0.57060243 -0.1902555 0.06645545
Petal.Length3 4.5 6.9 2.4    0.51691747 -0.3651161 0.07804970
Petal.Width1  0.1 0.6 0.5    1.17963278  1.2587179 0.01490377
Petal.Width2  1.0 1.8 0.8   -0.02933377 -0.5873144 0.02796645
Petal.Width3  1.4 2.5 1.1   -0.12181190 -0.7539586 0.03884138
Species*1     1.0 1.0 0.0           NaN        NaN 0.00000000
Species*2     2.0 2.0 0.0           NaN        NaN 0.00000000
Species*3     3.0 3.0 0.0           NaN        NaN 0.00000000

In [33]:
b <- subset(a, a$group1 %in% 'virginica')
b

              item group1    vars n  mean  sd        median trimmed mad     min
Sepal.Length3 3    virginica 1    50 6.588 0.6358796 6.50   6.5725  0.59304 4.9
Sepal.Width3  6    virginica 2    50 2.974 0.3224966 3.00   2.9625  0.29652 2.2
Petal.Length3 9    virginica 3    50 5.552 0.5518947 5.55   5.5100  0.66717 4.5
Petal.Width3  12   virginica 4    50 2.026 0.2746501 2.00   2.0325  0.29652 1.4
Species*3     15   virginica 5    50 3.000 0.0000000 3.00   3.0000  0.00000 3.0
              max range skew       kurtosis   se
Sepal.Length3 7.9 3.0    0.1110286 -0.2032597 0.08992695
Sepal.Width3  3.8 1.6    0.3442849  0.3803832 0.04560791
Petal.Length3 6.9 2.4    0.5169175 -0.3651161 0.07804970
Petal.Width3  2.5 1.1   -0.1218119 -0.7539586 0.03884138
Species*3     3.0 0.0          NaN        NaN 0.00000000

a <- describeBy(x = iris, group = iris$Species,mat=T)

Представит описательные статистики для iris, но - всё в кучу. Если таблица большая, а значений много, будет не очень удобно искать там медианы для virginica и, тем более, как-то их ранжировать


b <- subset(a, a$group1 %in% 'virginica')

А вот теперь просто переходим в сабсет b, и ранжируем в окошке медианы.

Краткий разбор конструкций. Не потому что сложно, а потому что полезно.

%in% - оператор, используется для определения принадлежности элемента вектору или фрейму данных.

a$group1 %in% 'virginica'  проверяет, есть ли virginica в столбце group от таблицы a

subset (a,...) - Возвращает подмножество элемента, которое соответствует заданному условию

In [35]:
 describeBy(iris, group = iris$Species)$'virginica'['median']

             median
Sepal.Length 6.50
Sepal.Width  3.00
Petal.Length 5.55
Petal.Width  2.00
Species*     3.00

In [36]:
aggregate(. ~ iris$Species, iris, median)

  iris$Species Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 setosa       5.0          3.4         1.50         0.2         1
2 versicolor   5.9          2.8         4.35         1.3         2
3 virginica    6.5          3.0         5.55         2.0         3

In [37]:
sort(aggregate(. ~ iris$Species, subset = (Species == "virginica"), iris, median), decreasing=TRUE)

ERROR: ignored

In [ ]:
# iris[iris.Species == "virginica"].median().sort_values(ascending=False)

In [38]:
lapply(subset(iris, iris$Species == "virginica", select = 1:4),  FUN = median)

$Sepal.Length
[1] 6.5

$Sepal.Width
[1] 3

$Petal.Length
[1] 5.55

$Petal.Width
[1] 2

In [39]:
describe(iris[iris$Species == 'virginica', 1:4])['median']

             median
Sepal.Length 6.50
Sepal.Width  3.00
Petal.Length 5.55
Petal.Width  2.00

In [43]:
describeBy(iris[,1:4], group = iris$Species)$virginica['median']

             median
Sepal.Length 6.50
Sepal.Width  3.00
Petal.Length 5.55
Petal.Width  2.00
Species*     3.00

# 1_5_14

В переменной my_vector сохранен вектор с пропущенными значениями. Вам нужно создать новый вектор fixed_vector, в котором все пропущенные значения вектора my_vector будут заменены на среднее значение по имеющимся наблюдениям.

При этом исходный вектор оставьте без изменений!

Напоминаю, переменная my_vector уже создана, сразу начинайте работать с ней. Перед тем, как сдавать решение, вы можете потренироваться на различных примерах. Ниже небольшой код, который может создать случайный вектор (выборка из нормального распределения) с пропущенными значениями.


my_vector <- rnorm(30)

my_vector[sample(1:30, 10)] <- NA # на десять случайных позиций поместим NA


Задача для самостоятельной работы:

Изучите справку по функции replace. Вызвать справку можно исполнив команду:

?replace
Попробуйте решить это задание при помощи этой функции.

In [50]:
my_vector <- rnorm(30)

my_vector[sample(1:30, 10)]

 [1]  1.29808628  0.06150062 -0.74514180  0.64841572 -0.57046278  0.63470289
 [7] -0.57392080  2.56042705  0.93779166  0.46517416

In [51]:
m <- mean(my_vector, na.rm = T)

fixed_vector <- my_vector

# fixed_vector[is.na(fixed_vector)] <- m

In [53]:
is.na(fixed_vector)

 [1] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE FALSE
[25] FALSE FALSE FALSE FALSE FALSE FALSE

In [52]:
fixed_vector[is.na(fixed_vector)]

numeric(0)

In [54]:
fixed_vector <- replace(my_vector, is.na(my_vector), mean(my_vector, na.rm = T))
fixed_vector

 [1]  0.060911066  0.135807696  1.989253948 -0.167988349  0.182615437
 [6]  0.648415723  0.350708544  0.465174161  0.099084695  0.422248492
[11]  1.298086277 -0.189317885  0.937791662  0.634702895 -0.570462778
[16]  0.193593999  1.414373436 -0.386671430 -0.864292186  0.792278675
[21] -0.573920800  0.690281305  0.419453623  2.560427053  0.061500622
[26]  0.326296522 -0.745141797 -1.003369459 -0.009788047 -0.422703028

In [55]:
?replace