<a href="https://colab.research.google.com/github/nedokormysh/Stepik_data_analysis_R/blob/week_1_data_prep/Stepik_data_analysis_R_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
library(help = "datasets")

In [4]:
my_data <- mtcars
head(my_data)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

# 1_3_7

В этой задче поработаем со встроенными данными mtcars. В датафрэйме mtcars создайте новую колонку (переменную) под названием even_gear, в которой будут единицы, если значение переменной (gear) четное, и нули если количество нечетное.   

Подсказка: вам может помочь оператор деления с остатком:


5 %% 2 == 1

TRUE

In [5]:
# mtcars$even_gear <- ifelse(mtcars$gear %% 2 == 1 , 0,1)
mtcars$even_gear[mtcars$gear%%2 == 0] <- 1
mtcars$even_gear[mtcars$gear%%2 == 1] <- 0

In [6]:
head(my_data)

                  mpg  cyl disp hp  drat wt    qsec  vs am gear carb
Mazda RX4         21.0 6   160  110 3.90 2.620 16.46 0  1  4    4
Mazda RX4 Wag     21.0 6   160  110 3.90 2.875 17.02 0  1  4    4
Datsun 710        22.8 4   108   93 3.85 2.320 18.61 1  1  4    1
Hornet 4 Drive    21.4 6   258  110 3.08 3.215 19.44 1  0  3    1
Hornet Sportabout 18.7 8   360  175 3.15 3.440 17.02 0  0  3    2
Valiant           18.1 6   225  105 2.76 3.460 20.22 1  0  3    1

# 1_3_8

Продолжим нашу работу с данными mtcars. Теперь ваша задача создать переменную - вектор mpg_4 и сохранить в нее значения расхода топлива (mpg) для машин с четырьмя цилиндрами (cyl).

In [11]:
subset(mtcars, cyl== 4)

               mpg  cyl disp  hp  drat wt    qsec  vs am gear carb even_gear
Datsun 710     22.8 4   108.0  93 3.85 2.320 18.61 1  1  4    1    1
Merc 240D      24.4 4   146.7  62 3.69 3.190 20.00 1  0  4    2    1
Merc 230       22.8 4   140.8  95 3.92 3.150 22.90 1  0  4    2    1
Fiat 128       32.4 4    78.7  66 4.08 2.200 19.47 1  1  4    1    1
Honda Civic    30.4 4    75.7  52 4.93 1.615 18.52 1  1  4    2    1
Toyota Corolla 33.9 4    71.1  65 4.22 1.835 19.90 1  1  4    1    1
Toyota Corona  21.5 4   120.1  97 3.70 2.465 20.01 1  0  3    1    0
Fiat X1-9      27.3 4    79.0  66 4.08 1.935 18.90 1  1  4    1    1
Porsche 914-2  26.0 4   120.3  91 4.43 2.140 16.70 0  1  5    2    0
Lotus Europa   30.4 4    95.1 113 3.77 1.513 16.90 1  1  5    2    0
Volvo 142E     21.4 4   121.0 109 4.11 2.780 18.60 1  1  4    2    1

In [ ]:
# import pandas as pd
# import numpy as np
# import statsmodels.api as sm

# mtcars = sm.datasets.get_rdataset('mtcars')
# mtcars_data = pd.DataFrame(mtcars.data)
# mpg_4 = mtcars_data.mpg[mtcars_data["cyl"] == 4]
# mpg_4

In [17]:
c(subset(mtcars, mtcars$cyl == 4, mpg))

$mpg
 [1] 22.8 24.4 22.8 32.4 30.4 33.9 21.5 27.3 26.0 30.4 21.4

In [14]:
mtcars$cyl == 4

 [1] FALSE FALSE  TRUE FALSE FALSE FALSE FALSE  TRUE  TRUE FALSE FALSE FALSE
[13] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE FALSE FALSE FALSE
[25] FALSE  TRUE  TRUE  TRUE FALSE FALSE FALSE  TRUE

In [15]:
# cor
mpg_4 <- mtcars$mpg[c(mtcars$cyl == 4)]

 [1] 22.8 24.4 22.8 32.4 30.4 33.9 21.5 27.3 26.0 30.4 21.4

In [18]:
mtcars$mpg[mtcars$cyl == 4]

 [1] 22.8 24.4 22.8 32.4 30.4 33.9 21.5 27.3 26.0 30.4 21.4

# 1_3_9

А теперь научимся отбирать только некоторые строчки из исходных данных.

Ваша задача создать новый dataframe под названием mini_mtcars, в котором будут сохранены только третья, седьмая, десятая, двенадцатая и последняя строчка датафрейма mtcars.

In [32]:
mini_mtcars <- mtcars[c(3, 7, 10, 12, nrow(mtcars)),]
mini_mtcars

           mpg  cyl disp  hp  drat wt   qsec  vs am gear carb even_gear
Datsun 710 22.8 4   108.0  93 3.85 2.32 18.61 1  1  4    1    1
Duster 360 14.3 8   360.0 245 3.21 3.57 15.84 0  0  3    4    0
Merc 280   19.2 6   167.6 123 3.92 3.44 18.30 1  0  4    4    1
Merc 450SE 16.4 8   275.8 180 3.07 4.07 17.40 0  0  3    3    0
Volvo 142E 21.4 4   121.0 109 4.11 2.78 18.60 1  1  4    2    1

In [30]:
nrow(mtcars)

[1] 32